{% extends "app.html" %}

{% block meta %}
    <title>Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt</title>
    
    <meta property="og:title" content="Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.datarecce.io" />
    <meta property="og:description" content="Validate changes, merge fast, and don’t break production data. Recce is the ultimate data-modeling validation toolkit for dbt data projects." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}


{% block content %}


<section class="hero">

  <section class="page-header">

    <div class="container-xl">

      <div class="page-header-content">


        <h1>We enable data teams ship<br />faster and with confidence.</h1>
        <h2>We provide enhanced visibility into the data impact from dbt modeling changes by comparing the data in dev and production environments.</h2>

        <div class="cta-buttons">
          <a href="#" class="btn btn-primary btn-large">Join Us</a>
          <a href="#" class="btn btn-hollow btn-large">Book a Call</a>
        </div>

      </div>

    </div>

  </section>

  <section class="team">

    <div class="container-xl">
  
      <div class="section-content">

        <div class="section-header">
          <h2>Recce Team</h2>
        </div>

        <div class="team-members">

            <div class="team-member">
              <div class="person-meta">
                <div class="person-image">
                  <div class="img-holder">
                    <img src="/assets/images/about/cl.jpg" />
                  </div>
                </div>
                <div>
                  <h2>CL Kao</h2>
                  <h3>CEO and Founder</h3>
                </div>
              </div>
              <div class="person-content">
                <p>Over 2 decades of experience building developer tools, including one of the earliest distributed version control systems used by Apple.</p>
              </div>
              <div class="person-links">
                <ul>
                  <li><a href="https://www.linkedin.com/in/clkao/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
              </div>
            </div>

            <div class="team-member">

              <div class="person-meta">
                <h2>Team</h2>
              </div>
              <div class="person-content">
                <p>
                  Recce is built by engineers who have lived through the challenges of broken data deployments. We believe great data teams ship with speed and confidence—not hesitation.
                </p>

                <p>
                  With devtool and data experts who deeply understand how users work and think, we design Recce to fit naturally into their daily workflows—making their work easier and their data more reliable.
                </p>
              </div>              

            </div>

        </div>
      

      </div>
    </div>

  </section>

</section>

<section class="board">
  <div class="container-xl">
    <div class="section-content">

      <div class="section-header">
        <h2>Board Members</h2>
      </div>

      <div class="team-members">

            <div class="team-member">
              <div class="person-meta">
                <div class="person-image">
                  <div class="img-holder">
                    <img src="/assets/images/about/jesse.jpg" />
                  </div>
                </div>
                <div>
                  <h2>Jesse Robbins</h2>
                  <h3>Heavybit</h3>
                </div>
              </div>
            </div>

            <div class="team-member">
              <div class="person-meta">
                <div class="person-image">
                  <div class="img-holder">
                    <img src="/assets/images/about/brian.jpg" />
                  </div>
                </div>
                <div>
                  <h2>Brian Behlendorf</h2>
                  <h3>Founding president of Apache Software Foundation</h3>
                </div>
              </div>
            </div>

        </div>

   </div>
</section>



<section class="investors">

  <div class="container-xl">
    <div class="section-header aligned-left">
      <h2>Investors and Partners</h2>
      <p>We are backed by the world’s best investors.</p>
    </div>
  </div>

  <div class="container-xl">
    <div class="section-content">


      <div class="investors-holder">

          <div class="investor">
            <div class="investor-image">
              <img src="/assets/images/about/heavybit.png" />
            </div>
          </div>

          <div class="investor">
            <div class="investor-image">
              <img src="/assets/images/about/vertex.png" />
            </div>
          </div>

      </div>


    </div>
  </div>

</section>




{% endblock %}