{% extends "app.html" %}

{% block meta %}
    <title>Recce Case Studies - Read about how real data teams are using Recce</title>
    
    <meta property="og:title" content="Recce Case Studies - Read about how real data teams are using Recce" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://datarecce.io/case-studies/rio-department-of-health/" />
    <meta property="og:description" content="Read about how Recce users are improving their dbt PR review process with faster merge times, data-impact visibility, and improved stakeholder comunication" />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}


{% block content %}

<section class="case-study">

	<div class="case-study-header mb-5">

		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-12 col-lg-6 pe-5 mb-4">
					<h5>Case Study</h5>
					<h1>Rio de Janeiro Department of Health</h1>
					<h2 class="fs-3 fw-normal" >Prefeitura do Rio de Janeiro uses Recce to ensure data correctness of the health records for 7 million people</h2>
					<p><a href="/case-studies/rio-department-of-health">Read how</a> the department's data team took their PR merge time from over a day to just 1 hour.</p>

					<a href="/case-studies/rio-department-of-health" class="btn btn-primary">Read More</a>
					
				</div>

				<div class="col col-12 col-sm-12 col-lg-6 case-study-image d-flex justify-content-center align-items-center" style="background-color: #004a80; padding: 4rem; border-radius: 2rem;">
						<img src="/assets/images/case-studies/rio/RIOPREFEITURA-vertical-branco-425x600.png" style="width: 100%; max-width: 200px; height: auto;" />
				</div>
			</div>
		</div>

	</div>




</section>


{% endblock %}