{% extends "app.html" %}


{% block meta %}
    <title>Recce Cloud - Support dbt Self Serve Data with Self Serve Review</title>
    
    <meta property="og:title" content="Recce Cloud - Support dbt Self Serve Data with Self Serve Review" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://datarecce.io/cloud/" />
    <meta property="og:description" content="Bring data teams and stakeholders together to define 'data correctness' with collaborative checks and an interactive PR review process." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}

{% block content %}

  <section class="hero">
    <div class="container-xl">
      <div class="section-content">

        <div class="message">
          <h1>Recce Design Partnership</h1>

          <h2>Recce Cloud is available exclusively for Recce design partners.<br />For more information on how to become a design partner <a href="#cal">book a call</a>.</h2>

          <a href="/docs/get-started/" class="btn btn-primary btn-large">Get Started</a>

          <a href="#cal" class="btn btn-secondary btn-large">Book a Call</a>
        </div>
        



      </div>
    </div>
  </section>

  <section class="concept-highlights">
    <div class="container-xl">

<!--     <div class="container-xl">
      <div class="section-header">
        <h2>Collaborative data&nbsp;review<br /> for dbt projects</h2>
        <p><strong>Bring data teams and stakeholders together</strong> to define 'data correctness' with collaborative checks and an <strong>interactive PR review process</strong></p>
      </div> -->


      <div class="section-content">

        <div class="row">
          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data relationships</span><br />through team collaboration</h2>
            <p>Work together on checking and validating data</p>
          </div>

          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data trust</span><br />in your data and your team</h2>
            <p>Visualizing and interpreting change with stakeholders builds trust</p>
          </div>

          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data foundations</span><br />for data analytics</h2>
            <p>Confidence in data results in a solid foundation for downstream usage</p>
          </div>
        </div>

      </div>
    </div>
  </section>








{% endblock %}