{% extends "app.html" %}



{% block meta %}
    <title>Recce Fireside Chat - Data Productivity: Beyond DevOps and dbt</title>
    
    <meta property="og:title" content="Recce Fireside Chat - Data Productivity: Beyond DevOps and dbt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://datarecce.io/firesidechat/" />
    <meta property="og:description" content="CL Kao of Recce and Noel Gomez of Datacoves discussed how to apply and adapt DevOps to modern DataOps." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}

{% block content %}




  <section>

    <div class="container-xl">
      <div class="section-header">
        <h2 class="pb-0 mb-0">Data Productivity</h2>
        <h2 class="color-brand text-capitalize">Beyond DevOps and dbt</h2>

        <div class="row">
          <div class="col col-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 text-center">

            <p>The following video is a recording of the fireside chat hosted by <a href="https://www.linkedin.com/in/clkao/">CL&nbsp;Kao</a>, founder of <a href="https://datarecce.io/">DataRecce.io</a>, and <a href="https://www.linkedin.com/in/noelgomez/">Noel&nbsp;Gomez</a>, co-founder of <a href="https://datacoves.com/">Datacoves.com</a> on August 27, 2024.</p>
            <p><i>Thanks to all those who signed up and joined the event.</i></p>

          </div>
        </div>

      </div>


      <div class="section-content">

        <div class="row">
          <div class="col col-12 col-sm-12">

            <div class="responsive-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Lc90KuqEl4E?si=gEEgchCn7n7jZmqf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>



  <section class="concept-highlights">

    <div class="container-xl">
      <div class="section-header">
        <h2>Build Better Data.</h2>
      </div>


      <div class="section-content">

        <div class="row">
          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data relationships</span><br />through team collaboration</h2>
            <p>Work together on checking and validating data</p>
          </div>

          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data trust</span><br />in your data and your team</h2>
            <p>Visualizing and interpreting change with stakeholders builds trust</p>
          </div>

          <div class="col col-12 col-sm-12 col-md-4">
            <h2><span>Build data foundations</span><br />for data analytics</h2>
            <p>Confidence in data results in a solid foundation for downstream usage</p>
          </div>
        </div>

      </div>
    </div>
  </section>




{% endblock %}