{% extends "app.html" %}

{% block meta %}
    <title>Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt</title>
    
    <meta property="og:title" content="Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.datarecce.io" />
    <meta property="og:description" content="Validate changes, merge fast, and don’t break production data. Recce is the ultimate data-modeling validation toolkit for dbt data projects." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}


{% block content %}

    <script>
      async function getLatestRelease() {
          try {
              const response = await fetch('https://api.github.com/repos/DataRecce/recce/releases/latest');
              const data = await response.json();
              
              const latestVersion = data.tag_name;
              const releaseLink = data.html_url;

              // Update the page with a clickable link
              document.getElementById('release-info').innerHTML = 
                `<i class="bi bi-rocket-takeoff-fill"></i> We just launched Recce ${latestVersion}! <span>Take a look</span> <a href="${releaseLink}" target="_blank" title="Check out the release notes for Recce ${latestVersion}"></a>`;
          } catch (error) {
              console.error('Error fetching release data:', error);
              //document.getElementById('release-info').textContent = "Failed to fetch release data.";
          }
      }

      getLatestRelease();
    </script>

    <section class="hero">
      <div class="container-xl">
        <div class="section-content">

          <div class="message">
            <div class="release" id="release-info">
            </div>

            <h1>Data reconnaissance<br />for smarter deployments</h1>

            <h2>Recce turns data changes into actionable checklists so you can spot issues before they hit production. Cut review time, boost confidence, and deploy data at the speed of your business.</h2>

            <div class="cta-buttons">
              <a href="/docs/get-started/" class="btn btn-primary btn-large">Try Recce for free</a>
              <a href="#" class="btn btn-hollow btn-large">See it in action</a>
            </div>

          </div>
          
          <div class="featured-image">
            <div class="featured-image-holder">
              <img src="/assets/images/home/recce-hero-lineage-2.png" />
            </div>

            <div class="featured-image-holder-mobile">
              <img src="/assets/images/home/hero-mobile.png" />
            </div>

            <div id="hero-checklist">
              <img src="/assets/images/home/hero-checklist.png" />
            </div>

            <div id="hero-distribution">
              <img src="/assets/images/home/hero-distribution.png" />
            </div>
          </div>


        </div>
      </div>
    </section>


    <section class="cloud-share">

      <div class="container-xl">
        <div class="section-content">

          <div class="cloud-description">
            <h2>Securely Share to Cloud</h2>
            <p>Easily share and review data validation checks—no local setup required. Recce Cloud gives your team secure, SOC 2 Type I–compliant access to checks right in the browser, so reviewers and stakeholders can jump in fast.</p>
          </div>

          <div class="cloud-image">
            <img src="/assets/images/home/cloud-share.png" />
          </div>

        </div>

      </div>


    </section>

    <section class="workflow">

      <div class="container">
        <div class="section-header horizontal">

          <h2>How Recce enhances your data workflow</h2>

          <p>Recce lets you evaluate data in context before production and ship working data faster, changing the data deployment process from being frustrating overhead to advantage.</p>

        </div>
      </div>

      <div class="section-content">

        <div class="how">
          <div class="container-xl">

            <div class="row">

              <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <div class="how-tag">
                  <span>Visibility </span>
                </div>
                <h2>Focus on what matters</h2>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Recognize changed and impacted data</li>
                  <li><i class="bi bi-check-circle"></i> Generate actionable review checklists</li>
                  <li><i class="bi bi-check-circle"></i> See the full business context behind changes</li>
                </ul>
                <a href="#" class="btn btn-hollow btn-lg">Live Demo</a>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <img src="/assets/images/home/how-visibility.png"  class="img-fluid"/>
              </div>

            </div>

          </div>
        </div>

        <div class="how">
          <div class="container-xl">

            <div class="row flex-md-row-reverse">

              <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <div class="how-tag">
                  <span>Verifiability</span>
                </div>
                <h2>Focus on what matters</h2>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Recognize changed and impacted data</li>
                  <li><i class="bi bi-check-circle"></i> Generate actionable review checklists</li>
                  <li><i class="bi bi-check-circle"></i> See the full business context behind changes</li>
                </ul>
                <a href="/case-studies/rio-department-of-health/" class="btn btn-hollow btn-lg">Case Study</a>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <img src="/assets/images/home/how-verify.png" class="img-fluid"/>
              </div>

            </div>

          </div>
        </div>

        <div class="how">
          <div class="container-xl">

            <div class="row">

              <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <div class="how-tag">
                  <span>Velocity</span>
                </div>
                <h2>Focus on what matters</h2>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Recognize changed and impacted data</li>
                  <li><i class="bi bi-check-circle"></i> Generate actionable review checklists</li>
                  <li><i class="bi bi-check-circle"></i> See the full business context behind changes</li>
                </ul>
                <a href="https://medium.com/inthepipeline/using-column-level-lineage-to-validate-dbt-data-model-changes-2569b21af7ca" class="btn btn-hollow btn-lg" target="_blank">Use-case</a>
              </div>
              
              <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                <img src="/assets/images/home/how-velocity.png" class="img-fluid"/>
              </div>

            </div>

          </div>
        </div>

      </div>

    </section>


    <section class="processes">
      <div class="container-xl">
        <div class="section-content">

          <div class="section-header">
            <h2>How it works</h2>
          </div>

          <div class="process-holder">

            <div class="process">

              <div class="icon">
                <img src="/assets/images/home/process-1.png" />
              </div>
              <div class="">
                <h3>Detect  Changes</h3>
                <p>Recce scans for changes and generates a checklist</p>
              </div>

            </div>

            <div class="process">

              <div class="icon">
                <img src="/assets/images/home/process-2.png" />
              </div>
              <div class="">
                <h3>Verify Impact</h3>
                <p>Contextualize data modifications & validate with stakeholders</p>
              </div>

            </div>

            <div class="process">

              <div class="icon">
                <img src="/assets/images/home/process-3.png" />
              </div>
              <div class="">
                <h3>Deploy with Confidence</h3>
                <p>Automate best practices & ship clean data</p>
              </div>

            </div>

          </div>

        </div>
      </div>
    </section>


    <section class="testimonials" id="users">

      <div class="container-xl">
        <div class="section-header aligned-left">
          <h2>Who it's for</h2>
          <p>Recce helps data teams deploy confidently—without slow, painful reviews.</p>
        </div>
      </div>

      <div class="container-xl">
        <div class="section-content">
          <div class="testimonials-holder">
              
            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  In my job I have to understand data change, and <strong>Recce was a game changer</strong>. It made our PR review much quicker - <strong>From a day to less than an hour to merge.</strong>
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-5.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/thiagotcunha/" target="_blank">Thiago Trabach</a></h4>
                    <h5>Head of Data Science &amp; Engineering <br /><span>Prefeitura do Rio de Janeiro</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>

            </div>

            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  <strong>My entire team uses Recce as part of their PR flow</strong>...  we use it almost on every PR. I changed a major table in our DB that impacted over 20 down the funnel processes, and (Recce) helped me QA it very efficiently.
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-1.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/omri-antman-5557908b/" target="_blank">Omri Antman</a></h4>
                    <h5>Head of Data and Analytics<br /><span>Imagen</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>

            </div>

            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  A client told me they wanted to check their data and there was <strong>no other solution that offered a UI like Recce</strong>... it was really useful</strong>.
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-6.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/acrulopez/" target="_blank">Alejandro de la Cruz López</a></h4>
                    <h5>Head of Data Engineering<br /><span>Astrafy</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>
            </div>

            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  (Recce) helps visualize... everything from the lineage to the single value. You have <strong>a visual representation of the change in values for a PR available to everyone.</strong>
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-2.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/igor-dal-bo-31940150/" target="_blank">Igor Dal Bo</a></h4>
                    <h5>Data Engineer<br /><span>FactoryPal</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>

            </div>



            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  <strong>Recce provides a powerful set of features out of the box</strong> - Perfect for teams without dedicated engineers who can build and maintain bespoke solutions</strong>
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-3.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/yu-hau-bruce-huang-profile/" target="_blank">Bruce Huang</a></h4>
                    <h5>Data Engineer<br /><span>Migo</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>

            </div>

            <div class="testimonial">

              <div class="testimonial-body">
                <p class="testimonial-text">
                  Recce... can simplify your workflow and boost your productivity...<strong>work smarter, not harder</strong>.
                </p>
              </div>

              <div class="testimonial-meta">
                <div class="testimonial-meta-content">
                  <img src="assets/images/testimonials/testimonial-4.jpg" alt="" class="avatar avatar-md rounded-circle" >
                  <div class="ms-2">
                    <h4 class="text-primary"><a href="https://www.linkedin.com/in/andrewdsawyer/" target="_blank">Andy Sawyer</a></h4>
                    <h5>Strategy Leader & Advisor<br /><span>Easy Agile</span></h5>
                  </div>
                </div>
                <div class="quote-icon">
                  <img src="/assets/images/home/quotes.png" />
                </div>
              </div>
            </div>

            

          </div>
        </div>
      </div>
    </section>

    <section class="case-study-home" >
      <div class="container-xl">
        <div class="section-content" style="background-image: url(/assets/images/landing/home/rio_optimized.jpg);">
        
          <div class="case-study-details">

            <img src="/assets/images/case-studies/rio/RIOPREFEITURA-vertical-branco-425x600.png" />

            <h2>Rio de Janeiro  Department of Health decreased PR review time by 56% and doubled productivity.</h2>

            <p>Prefeitura do Rio de Janeiro uses Recce to ensure data correctness of the health records for 7 million people.</p>

            <a href="/case-studies/rio-department-of-health/" class="btn btn-dark btn-small">Read Case Study</a>

          </div>

        </div>
      </div>
    </section>

    <!-- <section class="text-center security-compliance">
      <div class="container-xl">
        <div class="section-content bg-light">
          <div class="col-md-8 ">
            <img src="assets/images/security/SOC_2_T1_Logo_Circle_Colour_cropped.png" alt="SOC 2 Certified" class="img-fluid" style="max-width: 200px; margin-top: 2rem; margin-bottom: 2rem">
            <h2>SOC 2 Certified</h2>
            <p class="">
              Recce is SOC 2 Type 1 verified, ensuring the highest standards and processes for secure and reliable data handling 
            </p>
          </div>
        </div>
      </div>
    </section> -->


{% endblock %}





  

