{% extends "app.html" %}


{% block content %}

    <section class="hero">
      <div class="container-xl">
        <div class="section-content">

          <div class="message">
            <h1>Self&#8209;Serve&nbsp;<span>Review</span>&nbsp;for <br />Self&#8209;Serve&nbsp;<span>Data</span></h1>
            <h2><strong>Contextual data impact analysis</strong> for comprehensive PR review. Validate data impact with <strong>reproducible data testing environments</strong> during development and as part of continuous integration.
            </h2>

            <a href="/docs/get-started/" class="btn btn-secondary btn-large">Open Source</a>

            <a href="/cloud/" class="btn btn-primary btn-large">Recce Cloud</a>
          </div>
          <div class="featured-image">
            <img src="/assets/images/landing/home/featured_image.png" />
          </div>

        </div>
      </div>
    </section>

    <section class="cta" id="signup">

      <div class="container-xl">
        <div class="row">

          <div class="col col-12 col-sm-12 col-lg-6">
            <h2>Level-up your data project PR review and stop merging breaking changes into production</h2>

          </div>

          <div class="col col-12 col-sm-12 col-lg-5 offset-lg-1 d-flex flex-column form-holder">

            <h3>Sign up for a Recce Cloud invite.</h3>
            <div id="mc_embed_shell">
              <div id="mc_embed_signup">
                <form action="https://app.us1.list-manage.com/subscribe/post?u=2b18366427f11835f05f68aeb&amp;id=b82bfd845e&amp;f_id=006a76e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">

                  <div id="mc_embed_signup_scroll">
                  <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->

                    <div class="row row-cols-lg-auto g-3 align-items-start">

                      <div class="col-12 col-md-8 col-lg-8">
                          <label class="visually-hidden" for="mce-EMAIL">Email Address</label>

                          <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required="" value="" required>
                          <div hidden=""><input type="hidden" name="tags" value="6322902"></div>
                      </div>
                        
   

                      <div class="col-12 col-md-4 col-lg-4">
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b18366427f11835f05f68aeb_b82bfd845e" tabindex="-1" value=""></div><div class="clear">

                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary" value="Subscribe"></div>
                      </div>
                    </div>


                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='DP_AUD';ftypes[4]='dropdown';fnames[6]='MONITORING';ftypes[6]='dropdown';fnames[7]='CI';ftypes[7]='dropdown';fnames[5]='CLOUD_AUD';ftypes[5]='dropdown';fnames[8]='CLOUD_USER';ftypes[8]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

        </div><!-- col -->
      </div><!-- row -->
    </section>

    <section class="news" id="news">
      <div class="container-xl">

        <div class="section-header">
          <h2 class="pb-0 mb-0">News &amp; Updates</h2>
          <h2 class="color-brand text-capitalize">See you in Las Vegas <span class="text-lowercase">for dbt</span> Coalesce 2024!</h2>

          <div class="row">

            <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
            </div>
          </div>
        </div>


        <div class="news-content">
          <div class="row gy-1 pb-5">

            <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">
              
                <a href="https://cube.registration.goldcast.io/events/09364877-fe00-4531-8923-8d80c8614ff1?utm_source=partner&utm_medium=&UTM_Publisher=&leadsource=&utm_campaign=&campaign_code=&campaignid=&utm_content=Recce#Registration" target="_blank" >
                  <img src="/assets/images/events/the-data-renegade_happy-hour.jpg" style="width: 100%; border-radius: 1rem; overflow: hidden; margin-bottom: 4rem;" />
                </a>
            </div>
            <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">

              <div class="event-details">

                <h3>Where Data Power meets Happy&nbsp;Hour</h3>
                <p>Join the team from Recce and the rest of the rebels on <strong>October 8th at the Data Renegade Happy Hour</strong>. It'll be a fun filled and memorable evening to:</p>
                <ul>
                  <li>Rebel and indulge in some <strong>post-conference shenanigans</strong>.</li>
                  <li><strong>Connect with industry pros and conference attendees</strong> for some witty banter.</li>
                  <li>Enjoy <strong>world class magic shows</strong> by international champion of magic, John George.</li>
                </ul>

                <br />
                <p class="text-center text-sm-start">
                  <a href="https://cube.registration.goldcast.io/events/09364877-fe00-4531-8923-8d80c8614ff1?utm_source=partner&utm_medium=&UTM_Publisher=&leadsource=&utm_campaign=&campaign_code=&campaignid=&utm_content=Recce#Registration" target="_blank" class="btn btn-lg btn-primary fs-2">Register Now <i class="bi bi-box-arrow-up-right"></i></a>
                </p>
              </div>

            </div>

          </div>

          <div class="row gy-1  pb-5">

            <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">
              
                <a href="/firesidechat"><img src="/assets/images/events/DataRecce-DataCoves_Fireside-chat_20240827_small.jpg" style="width: 100%; border-radius: 1rem; overflow: hidden; margin-bottom: 4rem; box-shadow: 0 0 60px -35px rgba(0,0,0,0.5)" /></a>

            </div>
            <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0">

              <div class="event-details">

                <h3>Data Productivity:<br /><span>Beyond DevOps &amp; dbt</span></h3>
                <p>The fireside chat recording is now available to <a href="/firesidechat">watch online</a>.  CL Kao of Recce and Noel Gomez of Datacoves discussed how to apply and adapt DevOps tp modern DataOp. Plus:</p>

                <ul>
                  <li>Agility and Speed</li>
                  <li>Cross-functional Collaboration</li>
                  <li>Data quality and reliability</li>
                </ul>

                <br />

                <a href="/firesidechat" class="btn btn-lg btn-primary">Watch Now</a>

              </div>

            </div>

          </div>

        </div>

      </div>
    </section>



    <section class="features">

      <div class="feature">
          <div class="feature-image">
            <div class="feature-image-holder">
              <img src="assets/images/landing/home/cross-env.png" />
            </div>
          </div>

          <div class="feature-description brand">
            <div class="description-holder">
              <h2>Faster QA for pull request reviews</h2>
              <p>Cross-environment diffs with Recce help speed up the QA process for pull request review. Quickly check data impact by comparing modeling changes with production data - No need to craft complex queries yourself, or deal with configurations for multiple tools.</p>

            </div>
          </div>
      </div>

      <div class="feature">
          <div class="feature-image">
            <div class="feature-image-holder">
              <img src="assets/images/landing/home/diffs.png" />
            </div>
          </div>

          <div class="feature-description light">
            <div class="description-holder">
              <h2>Focused Data Reconnaissance</h2>
              <p>Recce is feature-packed with a diff for every type of validation you'll need to ensure proof-of-correctness of your modeling changes. Starting from the Lineage DAG-Diff interface, Recce shows you the part of your DAG that has been impacted by your changes. It's the interface for your data-change reconnaissance mission.
              </p>
            </div>
          </div>
      </div>

      <div class="feature">
          <div class="feature-image overlap">
            <div class="feature-image-holder">
              <img src="assets/images/landing/home/recce-pr-comment.png" />
            </div>
          </div>

          <div class="feature-description brand">
            <div class="description-holder">
              <h2>Pull Request Comment on Steroids</h2>
              <p>Curate the checks you need into a list of reproducible validations for use in your pull request comment.</p>
            </div>
          </div>
      </div>

    </section>


    <section class="testimonials" id="users">

        <div class="container">
          <div class="row">

            <div class="section-header">
              <h3>Testimonials</h3>
              <h2>What our users are Saying</h2>

            </div>

          </div>

          <div class="row">
            <!-- col -->
            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2"> -->
            <div class="col-12 col-sm-12 col-md-12 testimonials-holder">
              
              <div class="testimonial">

                <div class="testimonial-body">
                  <i class="bi bi-quote quote-icon"></i>
                  <p class="testimonial-text">
                    In my job I have to understand data change, and <strong>Recce was a game changer</strong>. It made our PR review much quicker - <strong>From a day to less than an hour to merge.</strong>
                  </p>
                </div>

                <div class="testimonial-meta">
                  <div class="testimonial-meta-content">
                    <img src="assets/images/testimonials/testimonial-5.jpg" alt="" class="avatar avatar-md rounded-circle" >
                    <div class="ms-2">
                      <h4 class="text-primary mb-0"><a href="https://www.linkedin.com/in/thiagotcunha/" target="_blank">Thiago Trabach</a></h4>
                      <h5>Head of Data Science &amp; Engineering <br /><span>Prefeitura do Rio de Janeiro</span></h5>
                    </div>
                  </div>
                </div>

              </div>

              <div class="testimonial">

                <div class="testimonial-body">
                  <i class="bi bi-quote quote-icon"></i>
                  <p class="testimonial-text">
                    <strong>My entire team uses Recce as part of their PR flow</strong>...  we use it almost on every PR. I changed a major table in our DB that impacted over 20 down the funnel processes, and (Recce) helped me QA it very efficiently.
                  </p>
                </div>

                <div class="testimonial-meta">
                  <div class="testimonial-meta-content">
                    <img src="assets/images/testimonials/testimonial-1.jpg" alt="" class="avatar avatar-md rounded-circle" >
                    <div class="ms-2">
                      <h4 class="text-primary mb-0"><a href="https://www.linkedin.com/in/omri-antman-5557908b/" target="_blank">Omri Antman</a></h4>
                      <h5>Head of Data and Analytics<br /><span>Imagen</span></h5>
                    </div>
                  </div>
                </div>

              </div>

              <div class="testimonial">

                <div class="testimonial-body">
                  <i class="bi bi-quote quote-icon"></i>
                  <p class="testimonial-text">
                    (Recce) helps visualize... everything from the lineage to the single value. You have <strong>a visual representation of the change in values for a PR available to everyone.</strong>
                  </p>
                </div>

                <div class="testimonial-meta">
                  <div class="testimonial-meta-content">
                    <img src="assets/images/testimonials/testimonial-2.jpg" alt="" class="avatar avatar-md rounded-circle" >
                    <div class="ms-2">
                      <h4 class="text-primary mb-0"><a href="https://www.linkedin.com/in/igor-dal-bo-31940150/" target="_blank">Igor Dal Bo</a></h4>
                      <h5>Data Engineer<br /><span>FactoryPal</span></h5>
                    </div>
                  </div>
                </div>

              </div>

              <div class="testimonial">

                <div class="testimonial-body">
                  <i class="bi bi-quote quote-icon"></i>
                  <p class="testimonial-text">
                    <strong>Recce provides a powerful set of features out of the box</strong> - Perfect for teams without dedicated engineers who can build and maintain bespoke solutions</strong>
                  </p>
                </div>

                <div class="testimonial-meta">
                  <div class="testimonial-meta-content">
                    <img src="assets/images/testimonials/testimonial-3.jpg" alt="" class="avatar avatar-md rounded-circle" >
                    <div class="ms-2">
                      <h4 class="text-primary mb-0"><a href="https://www.linkedin.com/in/yu-hau-bruce-huang-profile/" target="_blank">Bruce Huang</a></h4>
                      <h5>Data Engineer<br /><span>Migo</span></h5>
                    </div>
                  </div>
                </div>

              </div>

              <div class="testimonial">

                <div class="testimonial-body">
                  <i class="bi bi-quote quote-icon"></i>
                  <p class="testimonial-text">
                    Recce... can simplify your workflow and boost your productivity...<strong>work smarter, not harder</strong>.
                  </p>
                </div>

                <div class="testimonial-meta">
                  <div class="testimonial-meta-content">
                    <img src="assets/images/testimonials/testimonial-4.jpg" alt="" class="avatar avatar-md rounded-circle" >
                    <div class="ms-2">
                      <h4 class="text-primary mb-0"><a href="https://www.linkedin.com/in/andrewdsawyer/" target="_blank">Andy Sawyer</a></h4>
                      <h5>Strategy Leader & Advisor</h5>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="cal-book">

      <div class="section-header">
        <h2>Book <span>a</span> demo</h2>
        <p>Find out more about how Recce can improve your data PR review process</p>
      </div>

      <!-- Cal inline embed code begins -->
      <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
      <script type="text/javascript">
        (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
      Cal("init", "chat", {origin:"https://cal.com"});

        Cal.ns.chat("inline", {
        elementOrSelector:"#my-cal-inline",
        calLink: "team/recce/chat",
        layout: "month_view"
        });

        Cal.ns.chat("ui", {"theme":"dark","styles":{"branding":{"brandColor":"#ff6e42"}},"hideEventTypeDetails":false,"layout":"month_view"});
        </script>
        <!-- Cal inline embed code ends -->


    </section>


    <section class="cta2">
      <div class="container">
        <div class="row" style="">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-12 col-12">
            <div class="text-center">
              <h3>Find out how to level-up your pull request review for dbt.</h3>
              <h4>
                Sign up to be notified when Recce Cloud is available.
              </h4>

              <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>


          </div>
         </div>
      </div>
    </section>


{% endblock %}





  

