{% extends "app2.html" %}

{% block meta %}
    <title>Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt</title>
    
    <meta property="og:title" content="Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.datarecce.io" />
    <meta property="og:description" content="Validate changes, merge fast, and don’t break production data. Recce is the ultimate data-modeling validation toolkit for dbt data projects." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}


{% block content %}


<section class="page-header">

  <div class="container-xl">

    <div class="section-header">

      <h2>Simple Pricing that<br />Grows with Your Team</h2>

      <p>Get powerful features, scalable support, and real value — all in one simple plan, or many tailored ones.</p>

    </div>

  </div>

</section>

<section class="pricing">

  <div class="container-xl">
    <div class="section-content">


      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/community.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Community</h2>

          <p>Good for individuals and small teams.</p>
          <p>Review pre-capture data snapshots using Recce Cloud hosted instances.</p>
        </div>

        <div class="package-price">
          <h2>$0<span>/month</span></h2>
          <h3>Free forever</h3>
        </div>

        <div class="features">
          <h4>includes:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> 5 User Seats</li>
            <li><i class="bi bi-check-circle"></i> 1 Concurrent Session</li>
            <li><i class="bi bi-check-circle"></i> 500 Active Minutes per Month</li>
            <li><i class="bi bi-check-circle"></i> Pull Request Merge Insights (Coming Soon)</li>
          </ul>
        </div>

        <div class="cta">
          <a href="#" class="btn btn-primary btn-lg">Get Started for Free</a>
        </div>


      </div>

      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/team.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Team</h2>

          <p>Best for teams with multiple business stakeholders.</p>
          <p>Live collaborative validation with custom database queries using Recce Cloud hosted instances.</p>
        </div>

        <div class="package-price">
          <h2>$250<span>/month</span></h2>
          <h3>When paid annually</h3>
        </div>

        

        <div class="features">
          <h4>Includes everything in Free, and:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> 5 User Seats</li>
            <li><i class="bi bi-check-circle"></i> 3 Concurrent Sessions</li>
            <li><i class="bi bi-check-circle"></i> 2,000 Active Minutes per Month</li>
            <li><i class="bi bi-check-circle"></i> Basic GitHub Integration</li>
            <li><i class="bi bi-check-circle"></i> Shared Checklist Templates (Coming Soon)</li>
            <li><i class="bi bi-check-circle"></i> Priority Email Support</li>
            <li><i class="bi bi-check-circle"></i> 14-Day Free Trial</li>
          </ul>
        </div>

        <div class="cta">
          <a href="#" class="btn btn-primary btn-lg">Start Free Trial</a>
        </div>

      </div>

      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/enterprise.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Enterprise</h2>

          <p>Perfect for larger organizations with custom needs.</p>
          <p>Systematize data reviews across multiple teams and stakeholders.</p>
        </div>

        <div class="package-price">
          <h2>Talk to Us</h2>
          <h3>&nbsp;</h3>
        </div>


        
        <div class="features">
          <h4>Includes everything in Free, and:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> Custom User Seats</li>
            <li><i class="bi bi-check-circle"></i> Advanced GitHub Integration</li>
            <li><i class="bi bi-check-circle"></i> Unlimited Active Minutes</li>
            <li><i class="bi bi-check-circle"></i> Fine-grained Access Control</li>
            <li><i class="bi bi-check-circle"></i> SSO/SAML</li>
            <li><i class="bi bi-check-circle"></i> Full change audit trail reporting</li>
            <li><i class="bi bi-check-circle"></i> AI-assisted data checks (Coming Soon)</li>
            <li><i class="bi bi-check-circle"></i> Bring Your Own Cloud (BYOC)</li>
            <li><i class="bi bi-check-circle"></i> Custom SLAs / Dedicated Support Team</li>
          </ul>
        </div>

        <div class="cta">
          <a href="#" class="btn btn-primary btn-lg">Request Demo</a>
        </div>

      </div>

      <div class="package">
        <h2>Not sure?</h2>
      </div>

      <div class="package">

        <div class="package-content">
          <div class="icon">
            <img src="/assets/images/home/oss.png" />
          </div>
          <div>
            <h2>OSS</h2>
            <p>description</p>
          </div>
        </div>

        <div class="package-cta">
          <a href="#" class="btn btn-primary btn-lg">Try it Now</a>
        </div>
      </div>



    </div>
  </div>

</section>






{% endblock %}