{% extends "app.html" %}

{% block meta %}
    <title>Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt</title>
    
    <meta property="og:title" content="Recce - Data-Modeling Validation Toolkit for Analytics and Data Engineers using dbt" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.datarecce.io" />
    <meta property="og:description" content="Validate changes, merge fast, and don’t break production data. Recce is the ultimate data-modeling validation toolkit for dbt data projects." />
    <meta
      property="og:image"
      content="/assets/images/recce-og-image.png"
    />
{% endblock %}


{% block content %}


<section class="page-header">

  <div class="container-xl">

    <div class="page-header-content">


      <h1>Recce Cloud</h1>
      <h2>Review, validate, and standardize workflow from solo-user to enterprise</h2>

    </div>

  </div>

</section>


<section class="pricing">

  <div class="container-xl">
    <div class="section-content">


      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/community.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Community</h2>

          <p>Good for individuals and small teams.</p>
          <p>Review pre-capture data snapshots using Recce Cloud hosted instances.</p>
        </div>

        <div class="package-price">
          <h2>$0<span>/month</span></h2>
          <h3>Free forever</h3>
        </div>

        <div class="features">
          <h4>Includes:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> 5 User Seats</li>
            <li><i class="bi bi-check-circle"></i> 1 Concurrent Session</li>
            <li><i class="bi bi-check-circle"></i> 500 Active Minutes per Month</li>
            <li><i class="bi bi-check-circle"></i> Pull Request Merge Insights (Coming Soon)</li>
          </ul>
        </div>

        <div class="cta">
          <a href="https://cloud.datarecce.io" class="btn btn-primary btn-lg" target="_blank">Get Started for Free</a>
        </div>


      </div>

      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/team.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Team</h2>

          <p>Best for teams with multiple business stakeholders.</p>
          <p>Live collaborative validation with custom database queries using Recce Cloud hosted instances.</p>
        </div>

        <div class="package-price">
          <h2>$250<span>/month</span></h2>
          <h3>When paid annually</h3>
        </div>

        

        <div class="features">
          <h4>Includes everything in Free, and:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> 5 User Seats</li>
            <li><i class="bi bi-check-circle"></i> 3 Concurrent Sessions</li>
            <li><i class="bi bi-check-circle"></i> 2,000 Active Minutes per Month</li>
            <li><i class="bi bi-check-circle"></i> Basic GitHub Integration</li>
            <li><i class="bi bi-check-circle"></i> Shared Checklist Templates (Coming Soon)</li>
            <li><i class="bi bi-check-circle"></i> Priority Email Support</li>
            <li><i class="bi bi-check-circle"></i> 14-Day Free Trial</li>
          </ul>
        </div>

        <div class="cta">
          <a href="https://cloud.datarecce.io" class="btn btn-primary btn-lg" target="_blank">Start Free Trial</a>
        </div>

      </div>

      <div class="package">

        <div class="icon">
          <img src="/assets/images/home/enterprise.png" />
        </div>

        <div class="package-details">
          <h2 class="package-title">Enterprise</h2>

          <p>Perfect for larger organizations with custom needs.</p>
          <p>Systematize data reviews across multiple teams and stakeholders.</p>
        </div>

        <div class="package-price">
          <h2>Talk to Us</h2>
          <h3>&nbsp;</h3>
        </div>


        
        <div class="features">
          <h4>Includes everything in team, and:</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i> Custom User Seats</li>
            <li><i class="bi bi-check-circle"></i> Advanced GitHub Integration</li>
            <li><i class="bi bi-check-circle"></i> Unlimited Active Minutes</li>
            <li><i class="bi bi-check-circle"></i> Fine-grained Access Control</li>
            <li><i class="bi bi-check-circle"></i> SSO/SAML</li>
            <li><i class="bi bi-check-circle"></i> Full change audit trail reporting</li>
            <li><i class="bi bi-check-circle"></i> AI-assisted data checks (Coming Soon)</li>
            <li><i class="bi bi-check-circle"></i> Bring Your Own Cloud (BYOC)</li>
            <li><i class="bi bi-check-circle"></i> Custom SLAs / Dedicated Support Team</li>
          </ul>
        </div>

        <div class="cta">
          <a href="https://cal.com/team/recce/enterprise" class="btn btn-primary btn-lg" target="_blank">Request Demo</a>
        </div>

      </div>

      <div class="package package-not-sure">
        <h2>Not sure which plan?</h2>
        <h2><a href="https://cal.com/team/recce/chat" target="_blank">Talk to us</a></h2>
      </div>

      <div class="package package-oss">

        <div class="package-content">
          <div class="icon">
            <div class="icon-holder">
              <img src="/assets/images/home/oss.png" />
            </div>
          </div>
          <div>
            <h2 class="package-title">Open-Source Core</h2>
            <p>Local data validation toolkit for dbt. Explore and validate changes, then generate checks locally with Recce OSS.</p>
          </div>
        </div>

        <div class="package-cta">
          <a href="https://github.com/datarecce/recce" class="btn btn-primary btn-lg" target="_blank">Try it Now</a>
        </div>
      </div>



    </div>
  </div>

</section>


<section class="faq">

  <div class="container-xl">

    <div class="section-header">

      <h2>FAQ</h2>

      <p>Frequently Asked Questions</p>

    </div>

    <div clas="section-content">


      <div class="accordion" id="faqAccordion">

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="false" aria-controls="faqCollapse1">
              <h3>What is Recce?</h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse1" class="accordion-collapse collapse" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>
                Recce is a data collaboration tool for teams doing data validation, impact analysis, and PR reviews.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
              <h3>How does pricing work?</h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>
                Pricing is based on user seats and active minutes per month. Contact us for enterprise pricing.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
              <h3>How do I get started?</h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>
                We suggest starting with our open-source software to explore core Recce features. From there, you can upgrade to the Community or Team or Enterprise plan based on your team’s collaboration and governance needs.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
              <h3>Do I need to use OSS, or can I use the Community/Team plan directly? </h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>
                We suggest starting with our open-source software to explore core Recce features. From there, you can upgrade to the Community or Team or Enterprise plan based on your team’s collaboration and governance needs.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
              <h3>How are Active Minutes calculated?</h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqHeading5" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>
                We suggest starting with our open-source software to explore core Recce features. From there, you can upgrade to the Community or Team or Enterprise plan based on your team’s collaboration and governance needs.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="faqHeading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse6" aria-expanded="false" aria-controls="faqCollapse6">
              <h3>I’ve encountered an error/bug, who can help me?</h3>
              <i class="bi bi-plus ms-auto closed"></i>
              <i class="bi bi-dash ms-auto open"></i>
            </button>
          </h2>
          <div id="faqCollapse6" class="accordion-collapse collapse" aria-labelledby="faqHeading6" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
              <p>You can reach us in several ways:</p>
              <ul>
                <li>Open an issue in our <a href="https://github.com/datarecce/recce" target="_blank">open-source GitHub repo</a></li>
                <li>Join the conversation in the <a href="https://www.getdbt.com/community/join-the-community" target="_blank">dbt Slack</a> channel <a href="https://getdbt.slack.com/archives/C05C28V7CPP" target="_blank">#tool-recce</a></li>
                <li>Email us at <a href="mailto:support@datarecce.io">support@datarecce.io</a></li>
                <li><a href="https://cal.com/team/recce/chat" target="_blank">Book a meeting</a> with our team</li>
              </p>
            </div>
          </div>
        </div>

        <!-- Repeat for each FAQ -->
      </div>

    </div>

  </div>



</section>






{% endblock %}