html
	font-size: 62.5%


body
	font-size: 1.7rem
	line-height: 1.6
	font-weight: normal
	font-family: $font-body
	line-height: 1.6


h1, h2, h3, h4, h5
	font-family: $font-header
	font-weight: 600
h1
	font-size: 4rem
	margin-bottom: 2rem

h2
	font-size: 3.5rem
	margin-bottom: 1.8rem
h3
	font-size: 3rem
	margin-bottom: 1.6rem

h4
	font-size: 2.5rem
	margin-bottom: 1.5rem

h5
	font-size: 2rem
	margin-bottom: 1.5rem


p
	margin-bottom: 2rem
	line-height: 1.6

a
	color: $color-brand

.form-control
	font-size: 1.8rem