section.case-study-home
	.section-content
		background-size: cover
		background-position: 60% 50%
		border-radius: 2rem
		padding: 2rem
		position: relative
		overflow: hidden
		z-index: 0
		//filter: sepia(10%)
		&:before
			position: absolute
			content: ""
			top: 0
			left: 0
			right: 0
			bottom: 0
			//background-color: darken(rgba(237, 214, 187, 0.1), 10%)
			box-shadow: inset 0 0 5rem -2rem rgba(0,0,0,0.3)

		@include media-breakpoint-up(lg)
			background-position: 50% 50%

		.case-study-details
			z-index: 999
			position: relative
			background-color: rgba(49, 130, 206, 0.8)
			padding: 3rem
			border-radius: 2rem
			width: 100%
			color: $color-white
			margin-top: 300px
			filter: none
			@include media-breakpoint-up(md)
				margin-top: 0
				width: 60%
			@include media-breakpoint-up(lg)
				width: 42%
				background-color: rgba(49, 130, 206, 1)
			@include media-breakpoint-up(xl)
				width: 36%

			img
				width: 100%
				max-width: 80px
				height: auto
				margin-bottom: 5rem

			h2
				font-size: 2rem
				margin-bottom: 2rem
				text-shadow: 1px 2px 1px darken($color-blue-dark, 15%)

			p
				font-size: 1.6rem
				text-shadow: 1px 1px 1px darken($color-blue-dark, 15%)
				@include media-breakpoint-up(lg)
					text-shadow: none


section.case-study
	.case-study-header
		h5
			color: $color-white
			background-color: $color-medium-gray
			background-color: $color-brand
			border-radius: 2rem
			display: inline-block
			padding: 0.5rem 2rem
			font-size: 1.8rem
			text-transform: uppercase

	.case-study-stats
		margin-top: 8rem
		margin-bottom: 8rem
		position: relative
		.stats-header
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: -1.5rem
			background-color: $color-brand
			color: $color-white
			border-radius: 2rem
			display: inline-block
			padding: 0.5rem 2rem
			font-size: 1.8rem
			text-transform: uppercase

		.row-stats
			background-color: $color-light-gray
			border-radius: 2rem
			padding-top: 6rem
			padding-bottom: 6rem
			.stat
				padding-left: 3rem
				padding-right: 3rem
				padding-bottom: 5rem
				text-align: center
				display: flex
				flex-direction: column
				&:last-of-type
					padding-bottom: 0
				@include media-breakpoint-up(lg)
					padding-bottom: 0
					padding-left: 2rem
					padding-right: 2rem

				
				h2
					font-size: 2.2rem
					margin-bottom: 1rem
					@include media-breakpoint-up(lg)
						font-size: 2.4rem
					span
						@include media-breakpoint-up(lg)
							display: none
						@include media-breakpoint-up(xl)
							display: inline
				p
					margin-bottom: 0
		
	.case-study-body

		h2, h3, h4

			margin-top: 5rem
			margin-bottom: 2rem 
		h2
			&:first-of-type
				margin-top: 0
		ul
			li
				max-width: 80%
				margin-bottom: 2rem
		
		.testimonial
			margin-top: 4rem
			margin-bottom: 6rem
			@include media-breakpoint-up(lg)
				width: 75%
				margin-left: 5%
