$block-width: 800px

section.features
	padding: 0
	display: flex
	flex-direction: column

	.feature
		display: flex
		flex-direction: column-reverse
		overflow: hidden
	
		.feature-image
			//background-color: $color-white			
			width: 100%
			@include media-breakpoint-up(md)
				width: 50%
				display: flex
				justify-content: flex-end
				align-items: center
			.feature-image-holder
				width: 100%
				max-width: $block-width
				padding: 8rem 4rem
				@include media-breakpoint-up(xl)
					padding: 8rem
				img
					width: 100%
					height: auto
			
			&.overlap
				position: relative
				min-height: 50rem
				.feature-image-holder
					position: absolute
					overflow: hidden
					padding-top: 0
					top: 0
					width: 120%
					max-width: 900px


		.feature-description
			&.brand
				background-color: $color-brand
				color: $color-white
				::selection
					background-color: $color-white
					color: $color-brand
			&.alt
				background-color: $color-silver
				color: $color-white
			&.light
				background-color: $color-off-white
			
			width: 100%
			@include media-breakpoint-up(md)
				width: 50%
				display: flex
				justify-content: flex-start
				align-items: center
			.description-holder
				width: 100%
				max-width: $block-width
				padding: 6rem 4rem
				@include media-breakpoint-up(xl)
					padding: 8rem

				h2
					@include media-breakpoint-up(lg)
						font-size: 3rem
					@include media-breakpoint-up(xl)
						font-size: 4rem
				p
					font-size: 1.8rem
					@include media-breakpoint-up(xl)
						font-size: 2rem

		@include media-breakpoint-up(md)
			flex-direction: row
			&:nth-of-type(even)
				flex-flow: row-reverse

				.feature-image
					justify-content: flex-start
				.feature-description
					justify-content: flex-end
					//background-color: $color-light-gray



