.cloud-form
	background-color: $color-brand
	padding: 3rem 0
	position: relative

	.large-logo
		position: absolute
		height: 150%
		width: auto
		top: -25%
		opacity: 0.3
		left: 50%
		-webkit-transform: translateX(-115%)
		transform: translateX(-115%)
		@include media-breakpoint-up(md)
			-webkit-transform: translateX(-140%)
			transform: translateX(-140%)

	// &::before
	// 	background-image: url('/assets/images/Logo_Recce_white-fs8.png')
	// 	background-size: 100%
	// 	content: ""
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	right: 0
	// 	bottom: 0

	.section-header
		h2
			color: $color-white
			font-size: 2.6rem
			text-transform: uppercase
	#mc_embed_shell
		display: flex
		justify-content: center
		align-items: center
		#mc_embed_signup
			border-radius: 1rem
			form
				padding: 1rem 2rem
				text-align: center
				margin: 0
				@include media-breakpoint-up(md)
					padding: 1rem 5rem
				h2
					text-transform: uppercase
				.mc-field-group
					width: 100%
				#mc-embedded-subscribe
					background-color: $color-brand
					text-transform: uppercase
					font-family: $font-header
					letter-spacing: 0.08rem
					height: auto
					padding: 0.5rem 2.5rem


			div.response
				width: 100%



.fireside-chat-signup
	clear: left
	font-size: 1.4rem

	#mc_embed_shell
		width: 100%
		max-width: 650px
		padding: 1rem
		background-color: lighten($color-brand, 30%)
		border-radius: 1rem
		margin: 0 auto

		.helper_text	
			background-color: transparent

		.button
			background-color: $color-brand
			padding: 0.5rem 1rem
			height: auto
			text-transform: uppercase
			&:hover
				background-color: darken($color-brand, 10%)
