section.hero
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	position: relative
	padding-top: 0

	.section-content
		display: flex
		flex-direction: column		
		position: relative
		
		@include media-breakpoint-up(lg)
			justify-content: space-between
			align-items: center
		.message
			width: 100%
			padding: 3rem
			z-index: 99
			text-align: center

			.release
				border: solid darken($color-light-gray, 20%) 1px
				border-radius: 20px
				display: inline-block
				padding: 0.5rem 1rem
				font-weight: 600
				margin-bottom: 2rem
				position: relative
				i
					font-size: 110%
				i, span
					color: $color-brand
				&:hover
					background-color: $color-brand
					border-color: $color-brand
					color: $color-white
					i, span
						color: $color-white


				a
					text-decoration: none
					position: absolute
					top: 0
					left: 0
					bottom: 0
					right: 0




			h1
				font-size: 3rem
				font-weight: 800
				color: $color-dark-gray
				margin-bottom: 1rem
				line-height: 1.2
				margin-bottom: 2.5rem
				span
					color: $color-brand
				@include media-breakpoint-up(sm)
					font-size: 4rem
				@include media-breakpoint-up(md)
					font-size: 5rem

				@include media-breakpoint-up(lg)
					font-size: 5.5rem
				@include media-breakpoint-up(xl)
					font-size: 6rem
					br
						display: block
			h2
				font-size: 1.8rem
				font-weight: 500
				line-height: 1.6
				color: $color-dark-gray
				padding-left: 10%
				padding-right: 10%
				strong
					font-weight: 600

			h3
				color: $color-brand
				text-transform: uppercase
				text-transform: uppercase
				font-family: $font-brand
				font-weight: 800
				font-size: 2.6rem

			a.btn
				margin: 2rem 1rem
				border-radius: 1rem
				letter-spacing: 1px
				font-size: 1.7rem

		.featured-image
			width: 100%
			height: 100%
			.featured-image-holder
				box-shadow: 0 0 27px -15px $color-dark-gray
				box-shadow: 0 0 50px -35px darken($color-brand, 40%)
				border-radius: 1rem
				overflow: hidden

				img
					width: 100%
					height: auto
			h2
				font-size: 1.5rem
				text-align: center
				padding: 2rem 0
				color: lighten($color-dark-gray, 30%)




section.hero.cloud-hero
	overflow: visible
	.section-content
		height: auto
		min-height: 50rem
		@include media-breakpoint-up(md)
			align-items: flex-start
		.message
			width: 100%
			width: 100%	
			top: 0

			h1
				font-size: 3rem
				font-weight: 800
				color: $color-dark-gray
				margin-bottom: 1rem
				line-height: 1.2
				margin-bottom: 2.5rem
				span
					color: $color-brand
				@include media-breakpoint-up(sm)
					font-size: 4rem
				@include media-breakpoint-up(md)
					font-size: 5rem
					br
						display: none

				@include media-breakpoint-up(lg)
					font-size: 4.5rem
					text-align: left
					br
						display: block
			h2
				font-size: 2rem
				font-weight: 300
				line-height: 1.6
				strong
					font-weight: 600

				@include media-breakpoint-up(md)
					text-align: center
				@include media-breakpoint-up(lg)
					text-align: left
					max-width: 500px
			h3
				color: $color-brand
				text-transform: uppercase
				text-transform: uppercase
				font-family: $font-brand
				font-weight: 800
				font-size: 2.6rem

	.featured-image
		width: 100%
		height: 100%
		right: 0
		display: flex
		justify-content: center
		align-items: center
		padding-left: 0
		padding-right: 0
		@include media-breakpoint-up(sm)
			padding-left: 10%
			padding-right: 10%
		@include media-breakpoint-up(md)
			padding-left: 20%
			padding-right: 20%
		@include media-breakpoint-up(lg)
			width: 60%
		img
			width: 100%
			height: auto
			@include media-breakpoint-up(lg)
				width: 80%
				position: absolute
				top: 13rem
				right: 0rem
			@include media-breakpoint-up(xl)
				top: 10rem
			@include media-breakpoint-up(xxl)
				top: 4rem

				
			